<p>Enter your strength</p>
<input type="text" name="character[strength]">
<p>Enter your intelligence</p>
<input type="text" name="character[intelligence]">
<p>Enter your speed</p>
<input type="text" name="character[speed]">
<p>Enter your finesse</p>
<input type="text" name="character[finesse]">
<p>Enter your charisma</p>
<input type="text" name="character[charisma]">

<p>Enter your Role</p>
<input type="text" name="character[role_name][][type]">
